.modeChooser {
    display: flex;
    align-self: stretch;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px 2px;
    background-color: #7f8daa;
}

.modeChoice {
    margin-left: auto;
    align-self: stretch;
    display: flex;
    align-items: center;
    user-select: none;
    background-color: #5e6470;
    margin-left: 2px;
    margin-right: 2px;
}

.modeChoiceIcon {
    display: flex;
    width: 1.4em;
}

.modeChoiceIcon img {
    margin: auto;
    height: 1em;
    width: 1em;
}

.modeChoiceIcon svg {
    margin-left: auto;
    margin-right: auto;
    height: 1em;
    width: 1em;
}

.modeChoice.activeMode {
    background-color: #59924d;
}